* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(255, 255, 255);
    font-family: sans-serif;
}

.container-clock {
    text-align: center;
}

.container-clock h1 {
    font-size: 120px;
    font-weight: 400;
}

.container-clock p {
    font-size: 30px;
    text-transform: uppercase;
}