* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(255, 255, 255);
    font-family: sans-serif;
}

.container-clock {
    text-align: center;
}

.container-clock h1 {
    font-size: 600%;
    font-weight: 400;
}

.container-clock p {
    font-size: 150%;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .container-clock h1 {
        font-size: 400%;
    }

    .container-clock p {
        font-size: 100%;
    }
}

@media (max-width: 600px) {
    .container-clock h1 {
        font-size: 350%;
    }

    .container-clock p {
        font-size: 80%;
    }
}